.body {
    background: linear-gradient(to left, #000e2b, #1e001fe3);
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.Title {
    margin: 20px auto 50px auto;
    width: 40%;
    height: flex;
    background-image: linear-gradient(to bottom, #080025 ,#0d001fe3);
    border: #333333 solid 1px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.4s;
    padding: 15px;
    color: white;
    text-align: center;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

.platform-card {
    display: inline-block;
    background-image: linear-gradient(to bottom,#080025 ,#0d001fe3);
    border: #333333 solid 1px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.4s;
    padding: 15px;
    margin: 35px;
    color: white;
    text-align: center;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

.download-button {
    background-color: white;
    border: black solid 1px;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: larger;
    font-weight: bold;
    margin-top: 10px;
    border-radius: 15px;
    transition-duration: 0.4s;
}